body{
  background-color: #000;
  color: #fff;
}

.App{
  text-align: center;
  padding: 5%;
}

.App-title{
  font-size: 26px;
  border-radius: 0px;
  border: 0px;
}

.recipe{
  display: inline-block;
  width: 220px;
  height:220px;

  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.recipe-img{
  width: 220px;
  height:220px;
  border: 3px solid #fff;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.recipe-text{
  background-color: black;
  color: white;
  opacity: 0.75 ;
  width: 214px;
  margin-left: 3px;
  text-align: center;
  position:absolute;
  bottom: 0;
  padding: 10px;
}

.jumbotron{
  background-color: black;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  width:85%;
  overflow: auto;
  box-shadow: 20px;
}

.container{
  padding: 5px;
}

img{
  float: right;
}

.img-thumbnail{
  background-color: black;
  border-radius: 3px;
  border: 2px solid white;
  text-align: right;
  width: 200px;
  height: 200px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
display: flex;
margin-top: 300px;;
justify-content: center;
align-items: center;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Card Styling */



*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 900px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  color: black;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  color: grey;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}
